
<ion-content>

  <ion-grid>
    <ion-row>

   <ion-col size-md="6">


    <div class="container">


      <ion-row>

        <ion-col size-md="12" offsetSm="5">

          <ion-card>

            <div class="ion-text-center">

              <ion-label class="ion-text-lg-capitalize" >

                    <ion-avatar class="img-fluid img-thumbnail img rounded-circle">
    <img src="../../../assets/images/avatar.png">
  </ion-avatar>

                  </ion-label>

            </div>


            <div class="ion-text-center">


              <ion-label class="ion-text-lg-capitalize" color="primary">
                    <h1>Forgot Password</h1>

                  </ion-label>

            </div>



            <ion-card-content>
              <form (ngSubmit)="onSubmit(f)" #f="ngForm">

                <ion-item>
                  <ion-label position="floating">Create Password</ion-label>
                  <ion-input type="password" [(ngModel)]="forgetpassword.password"  name="password" #passCtrl="ngModel" required></ion-input>
                </ion-item>

                <ion-item lines="none">

                  <p class="tag text-danger" *ngIf="!passCtrl.valid && passCtrl.touched">Password field required.</p>

                </ion-item>

                <ion-item>
                  <ion-label position="floating">Confirm Password</ion-label>
                  <ion-input type="password" [(ngModel)]="forgetpassword.confPassword" name="comfirmPassword" #comfirmPassCtrl="ngModel" required></ion-input>
                </ion-item>

                <ion-item lines="none">

                  <p class="tag text-danger" *ngIf="!comfirmPassCtrl.valid && comfirmPassCtrl.touched">Comfirm password field required.</p>

                </ion-item>

          <ion-col>
              <ion-button type="submit"  color="primary"  expand="block">
                Forgot Password
              </ion-button>
          </ion-col>

              </form>
            </ion-card-content>
              </ion-card>


          </ion-col>
      </ion-row>


    </div>


    </ion-col>

      </ion-row>
      </ion-grid>
      </ion-content>


