
ion-progress-bar{

  border-radius: 13px !important;
  transform: scaleX(0.9) !important;
}


.title-ml{

  margin-left: 13rem !important;
}

.ml{

  margin-left: 15rem !important;
}


@media(max-width:768px){

  .ml, .title-ml{

    margin-left: 1.5rem !important;
  }

}


ion-label h1{

  font-weight: 700 !important;

}
