
<ion-header>
  <!-- <ion-nav > -->
  <ion-toolbar color="primary">


    <ion-buttons slot="start">
      <ion-title class="ion-text-capitalize">time table</ion-title>
    </ion-buttons>


    <ion-label class="d-flex align-items-center justify-content-center" style="font-weight: 800;font-size: 3em;">

      <div row>
        <div class="col">
          Today &nbsp;
        </div>
        <div class="col">

          <p style="font-weight: 400;color: #433465 ;">{{today | date:'fullDate'}}</p>
        </div>
      </div>

    </ion-label>



    <ion-buttons slot="end">

    <!-- <ion-menu-button menuId="m1"></ion-menu-button> -->

    <ion-menu-button menuId="first"></ion-menu-button>

    <!-- <ion-button (click)="onOpenMenu()">
      Open
    </ion-button> -->

    </ion-buttons>



  </ion-toolbar>
<!-- </ion-nav> -->
</ion-header>



<ion-content fxLayout="row">

  <div class="ion-text-center ion-margin-top">


    <ion-label class="ion-text-lg-capitalize" color="primary">
          <h1>time table</h1>

        </ion-label>

  </div>

  <div class="ion-text-left title-ml">

    <ion-label class="ion-text-lg-capitalize" color="tertiary">
          <h1>Course</h1>

        </ion-label>

  </div>

  <section class="container my-5">
    <swiper [config]="swiperConfig"
            class="container" [effect]="'cards'" [grabCursor]="true" class="mySwiper">

      <h3 class="text-center">Testimonials</h3>
      <ng-template swiperSlide>
      <ion-card>

        <ion-card-header color="tertiary">
          <ion-card-title>Student 1</ion-card-title>
        </ion-card-header>

        <ion-item href="#" class="ion-activated">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>ion-item in a card, icon left, button right</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>


        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>

        <ion-row>

          <ion-col size="5">

            <ion-item routerLink="/faq" lines="none" class="text-primary ion-text-capitalize">
            quesition & answer
            </ion-item>
        </ion-col>

        <ion-col size="5" class="ml-5">
            <ion-item routerLink="/feedback" lines="none" class="text-primary ml-3 ion-text-capitalize">
             feedback
            </ion-item>
        </ion-col>

      </ion-row>

      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <ion-card>

        <ion-card-header color="tertiary">
          <ion-card-title>Student 2</ion-card-title>
        </ion-card-header>

        <ion-item href="#" class="ion-activated">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>ion-item in a card, icon left, button right</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>


        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>

        <ion-row>

          <ion-col size="5">

            <ion-item routerLink="/faq" lines="none" class="text-primary ion-text-capitalize">
            quesition & answer
            </ion-item>
        </ion-col>

        <ion-col size="5" class="ml-5">
            <ion-item routerLink="/feedback" lines="none" class="text-primary ml-3 ion-text-capitalize">
             feedback
            </ion-item>
        </ion-col>

      </ion-row>

      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <ion-card>

        <ion-card-header color="tertiary">
          <ion-card-title>Student 3</ion-card-title>
        </ion-card-header>

        <ion-item href="#" class="ion-activated">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>ion-item in a card, icon left, button right</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>


        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>

        <ion-row>

          <ion-col size="5">

            <ion-item routerLink="/faq" lines="none" class="text-primary ion-text-capitalize">
            quesition & answer
            </ion-item>
        </ion-col>

        <ion-col size="5" class="ml-5">
            <ion-item routerLink="/feedback" lines="none" class="text-primary ml-3 ion-text-capitalize">
             feedback
            </ion-item>
        </ion-col>

      </ion-row>

      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <ion-card>

        <ion-card-header color="tertiary">
          <ion-card-title>Student 4</ion-card-title>
        </ion-card-header>

        <ion-item href="#" class="ion-activated">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>ion-item in a card, icon left, button right</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>


        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>

        <ion-row>

          <ion-col size="5">

            <ion-item routerLink="/faq" lines="none" class="text-primary ion-text-capitalize">
            quesition & answer
            </ion-item>
        </ion-col>

        <ion-col size="5" class="ml-5">
            <ion-item routerLink="/feedback" lines="none" class="text-primary ml-3 ion-text-capitalize">
             feedback
            </ion-item>
        </ion-col>

      </ion-row>

      </ion-card>
    </ng-template>

    </swiper>

  </section>


  <ion-grid>

    <ion-row>

      <ion-col size="10"  class="shadow-lg rounded container" offset-md="1">

        <table class="table  table-hover table-responsive-lg table-bordered tab-bar-translucent">

          <thead>

            <tr>

              <th class="ion-text-uppercase">Days</th>
              <th class="ion-text-uppercase">Courses</th>
              <th class="ion-text-uppercase">Duration</th>
              <th class="ion-text-uppercase">Teacher</th>

            </tr>


          </thead>

          <tbody>

            <tr *ngFor="let timeTable of studentTable" (click)="presentModal()">

              <td class="ion-text-uppercase">{{ timeTable.sMon }}</td>
              <td class="ion-text-capitalize"> {{ timeTable.sSubject }} </td>
              <td>{{ timeTable.sDuration }}</td>

              <td class="text-center text-justify justify-content-center">

                <span>

                  <td>{{ timeTable.tName }}</td> &nbsp;

                </span>

                <span>

                  <td><ion-avatar slot="start"><img [src]="timeTable.tImage" alt=""></ion-avatar></td>
                </span>


              </td>



            </tr>

          </tbody>



        </table>


      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>






