<ion-content>

 <!-- Open Accordion -->
 <div class="container my-3">

  <ion-card>

    <ion-card-content>

      <ion-accordion-group>
        <ion-accordion value="colors">
          <ion-item slot="header">
            <ion-label>Lable 1</ion-label>
          </ion-item>

          <ion-list slot="content">
            <ion-item>
             <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi excepturi harum delectus
              itaque iusto? Optio harum illum impedit, sequi, ducimus architecto non tenetur labore velit voluptas autem officia quas quasi
              debitis deserunt, id itaque aspernatur vero accusamus asperiores nostrum temporibus
             </p>
            </ion-item>

          </ion-list>
        </ion-accordion>
        <ion-accordion value="shapes">
          <ion-item slot="header">
            <ion-label>Lable 2</ion-label>
          </ion-item>

          <ion-list slot="content">
            <ion-item>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi excepturi harum delectus
                itaque iusto? Optio harum illum impedit, sequi, ducimus architecto non tenetur labore velit voluptas autem officia quas quasi
                debitis deserunt, id itaque aspernatur vero accusamus asperiores nostrum temporibus
               </p>
            </ion-item>

          </ion-list>
        </ion-accordion>

        <ion-accordion-group value="numbers">
          <ion-accordion value="numbers" toggle-icon="arrow-down-circle">

            <ion-item slot="header">
              <ion-label>Lable 3</ion-label>
            </ion-item>

            <ion-list slot="content">
              <ion-item>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi excepturi harum delectus
                  itaque iusto? Optio harum illum impedit, sequi, ducimus architecto non tenetur labore velit voluptas autem officia quas quasi
                  debitis deserunt, id itaque aspernatur vero accusamus asperiores nostrum temporibus
                 </p>
              </ion-item>

            </ion-list>
          </ion-accordion>

        </ion-accordion-group>
        <ion-accordion value="card">
          <ion-item slot="header">
            <ion-label>Lable 4</ion-label>
          </ion-item>

          <ion-list slot="content">
            <ion-item>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi excepturi harum delectus
                itaque iusto? Optio harum illum impedit, sequi, ducimus architecto non tenetur labore velit voluptas autem officia quas quasi
                debitis deserunt, id itaque aspernatur vero accusamus asperiores nostrum temporibus
               </p>
            </ion-item>

          </ion-list>
        </ion-accordion>



        <ion-accordion value="glob">
          <ion-item slot="header">
            <ion-label>Lable 5</ion-label>
          </ion-item>

          <ion-list slot="content">
            <ion-item>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi excepturi harum delectus
                itaque iusto? Optio harum illum impedit, sequi, ducimus architecto non tenetur labore velit voluptas autem officia quas quasi
                debitis deserunt, id itaque aspernatur vero accusamus asperiores nostrum temporibus
               </p>
            </ion-item>

          </ion-list>
        </ion-accordion>

      </ion-accordion-group>

    </ion-card-content>

  </ion-card>


</div>

</ion-content>
