<ion-tabs>
  <ion-tab-bar slot="bottom">


    <ion-item>

      <ion-tab-button tab="dashboard">

        <ion-label>dashbaord</ion-label>
        <ion-icon name="book-outline"></ion-icon>

      </ion-tab-button>

    </ion-item>

    <ion-tab-button tab="classes">
      <ion-label>Classes</ion-label>
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>

    <ion-item>
    <ion-tab-button tab="schedule" >
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Time Table</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>
    </ion-item>

  </ion-tab-bar>
</ion-tabs>
